<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Hetucakra's logical reasoner</title>
    <h1>Hetucakra's logical reasoner</h1>

    <form method="get">
        <br>Hypothesis:
        <select class="form-control form-control-sm">
            <option>Logical subject</option>
        </select>
        é
        <select class="form-control form-control-sm">
            <option>Logical predicate</option>
        </select><br/>
        <br>Justification:
        <select class="form-control form-control-sm">
            <option>Logical subject</option>
        </select>
        é
        <select class="form-control form-control-sm">
            <option>Logical predicate</option>
        </select><br/>
        <br>Similar Example:
        <select class="form-control form-control-sm">
            <option>Logical subject</option>
        </select>
        é
        <select class="form-control form-control-sm">
            <option>First predicate</option>
        </select>
        e
        <select class="form-control form-control-sm">
            <option>Second predicate</option>
        </select><br/>

        <br>Dissimilar Example:
        <select class="form-control form-control-sm">
            <option>Logical subject</option>
        </select>
        é
        <select class="form-control form-control-sm">
            <option>First predicate</option>
        </select>
        e
        <select class="form-control form-control-sm">
            <option>Second predicate</option>
        </select><br/>

        <button type="submit">Submit</button>
    </form>
</head>
<body>

</body>
</html>